# ========================
# Python / FastAPI ignores
# ========================
__pycache__/



# Virtual environments
venv/
ENV/
env/
.venv/


.zip

# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
Project.zip